<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebSocket Client</title>
</head>
<body>
<div id="container">
  <div id="sidebar">
    <h2>Mis Plantas</h2>
    <input type="text" placeholder="Filtrar plantas..." [(ngModel)]="filterText" (input)="applyFilter()">
    <ul>
      <!-- Lista de plantas -->
      <li *ngFor="let plant of filteredPlants">
        <div class="plant-item">
          <button [ngClass]="{'selected': isSelectedPlant(plant), 'plant-btn': true}" (click)="showDetails(plant)">
            {{ plant.plantName }}
          </button>
          <button class="round-btn delete-btn" (click)="deletePlant(plant.id)">
            <span>✖</span>
          </button>
          <button class="round-btn edit-btn" (click)="openEditPlantPopup(plant)">
            <span>&#x270E;</span>
          </button>
        </div>
      </li>
      <li>
        <button class="round-btn add-btn" (click)="openAddPlantPopup()">
          <span>+</span>
        </button>
      </li>
    </ul>
  </div>
  <div id="content">
    <div id="header">
      <form #form="ngForm">
        <input id="datePicker" name="inputDateHiredData" [(ngModel)]="selectedDate" (change)="fetchDataByDate(selectedDate)" type="date">
      </form>
    </div>
    <div id="plantDetails" *ngIf="selectedPlant">
      <h2 id="plantName">{{ selectedPlant.plantName }}</h2>
      <div class="realtime-data" id="realtimeData"></div>
      <table>
        <thead>
        <tr>
          <th>Fecha y Hora</th>
          <th>Temperatura</th>
          <th>Humedad</th>
        </tr>
        </thead>
        <tbody id="plantData">
        <tr *ngFor="let data of plantData">
          <td>{{ data.dateTime | date:'yyyy-MM-ddTHH:mm:ss' }}</td>
          <td>{{ data.temperature }}</td>
          <td>{{ data.humidity }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-container *ngIf="showAddPlantPopup">
  <app-add-plant-popup
    [showPopup]="showAddPlantPopup"
    (closePopup)="closeAddPlantPopup()">
  </app-add-plant-popup>
</ng-container>

<ng-container *ngIf="showEditPlantPopup">
  <app-edit-plant-popup
    [plant]="selectedPlant"
    [showPopup]="showEditPlantPopup"
    (closePopup)="closeEditPlantPopup()"
    (updatePlant)="updatePlant($event)">
  </app-edit-plant-popup>
</ng-container>
</body>
</html>
